Source: splice3
Section: python
Priority: optional
Maintainer: name <@on.internet>
Version: 1.0-0
Package: Splice3
Architecture: all
Depends: python2.7 (>= 2.7)
Description: Splice3 1.0-0
 brute force utilities for the linux shell.


