Source: peer2anonet
Priority: optional
Maintainer: d3v11
Version: 1.0-0
Package: peer2anonet
Architecture: all
Depends: bash(>= 4.1)
Description: peer2anonet 1.0-0
 peer2anonet is an autoconfiguration utility to easily establish a
 peering session with BGP on AnoNet2.


